Makefile.am	linguist-generated=true
Makefile.in	linguist-generated=true	
config.h.in  	linguist-generated=true
configure  	linguist-generated=true
configure.ac	linguist-generated=true
depcomp	   	linguist-generated=true
install-sh 	linguist-generated=true
missing	   	linguist-generated=true

src/Makefile.am	linguist-generated=true
src/Makefile.in linguist-generated=true
